/*----------------------------------------------------------------------------
    Mobile Design First / Fallback
------------------------------------------------------------------------------*/

/*-------------
    Variables
---------------*/
:root {
    /* Primary colors */
    --clr-prim-01: rgb(102, 108, 163);
    --clr-prim-02: rgb(19, 24, 63);
    --clr-prim-03: rgb(131, 134, 154);
    --clr-prim-04: rgb(247, 71, 128); 

    /* Secondary colors */
    --clr-sec-01: rgb(255, 167, 195);
    --clr-sec-02: rgb(255, 255, 255);

    /* Gradient colors */
    --bg-gradient: linear-gradient(rgb(240, 42, 166), rgb(255, 111, 72));
    --bt-gradient: linear-gradient(rgb(72, 81, 255), rgb(240, 42, 166)); 

    /* Fonts */
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/* -------------------- 
    Global Styles
---------------------*/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------- 
    Classes Styles
---------------------*/

/*----------------------------------------------------------------------------
    Tablet Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 700px) {

}

/*----------------------------------------------------------------------------
    Sm Desktop Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 900px) {

}

/*----------------------------------------------------------------------------
    Desktop Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 1200px) {

}

/*----------------------------------------------------------------------------
    lg Desktop Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 1400px) {

}